@import 'common/fonts';
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply font-agenda font-[300];
}

body.logged-in {
  margin-top: 20px;
}

p {
  @apply font-agenda font-[300] leading-7;
}

.nav-desktop li a {
  @apply font-[400] text-white hover:text-simms-gold transition-all ease-in-out duration-[0.3s];
}

.nav-desktop .dropdown-menu li {
  @apply border-b-[1px] border-simms-gold mx-4;
}

.nav-desktop .dropdown-menu li:last-child {
  @apply border-b-0  mx-4;
}

.nav-desktop .dropdown-menu li a:hover {
  color: #00676d !important;
}

.nav-desktop .dropdown-menu li:hover {
  border-bottom: none !important;
}

.nav-desktop .dropdown-menu li a {
  @apply text-black;
}

.nav-desktop .dropdown-menu {
  display: none;
}

.nav-desktop li.group:hover .dropdown-menu {
  display: block;
}

.group:hover .dropdown-menu {
  @apply block;
}

.dropdown-menu li a {
  @apply font-[400] text-secondary-green;
}

.nav-primary #menu-main-menu li a {
  @apply font-[400] hover:border-b-[1px] hover:text-simms-gold  border-simms-gold transition-all ease-in-out duration-[0.3s];
}

.fs-arrow {
  border-top: 5px solid #cec778 !important;
}

.group .nav-link {
  @apply px-4 py-3  2xl:text-[17px]  hover:text-white transition-all flex items-center justify-between;
}

.desktop .nav-desktop .dropdown-menu .group .nav-link {
  @apply px-4 py-3  2xl:text-[16px] hover:text-primary-green transition-all flex items-center justify-center;
}

.nav .dropdown-submenu {
  @apply absolute hidden left-full top-0 ml-4 w-48 bg-white shadow-lg;
}

.group:hover .dropdown-submenu {
  @apply block;
}

.desktop .current-menu-item a {
  @apply text-simms-gold;
}

.dropdown-menu {
  @apply absolute hidden bg-white  min-w-[230px];
}

/* MODAL CONTACT FORM AREA */
.cta-modal-area form {
  @apply w-full;
}

.cta-modal-area form .modal-form {
  @apply w-full flex flex-col items-center justify-between;
}

.cta-modal-area form .modal-form .item {
  @apply flex flex-row items-center justify-between w-full gap-3 mb-5;
}

.cta-modal-area form .modal-form .item-3 {
  @apply flex flex-row items-center justify-between w-full gap-3 mb-0;
}

.cta-modal-area form .modal-form .item p {
  @apply w-full block;
}

.cta-modal-area form .modal-form .item label {
  @apply w-full block text-left font-[500] font-Lato capitalize;
}

.cta-modal-area form .modal-form .item label span {
  @apply w-full block;
}

.cta-modal-area form .modal-form .item label span input {
  @apply w-full block border-[1px] border-simms-rust p-2;
}

.cta-modal-area form .modal-form .item label span select {
  @apply w-full block border-[1px] border-simms-rust p-2;
}

.cta-modal-area form .modal-form .item label span textarea {
  @apply w-full block border-[1px] border-simms-rust p-2 h-20;
}

.main {
  @apply mt-[90px] lg:mt-[105px];
}

.logged-in .main {
  @apply lg:mt-[73px];
}

/* .swiper-button-next::after {
  @apply text-lg text-secondary-green;
} */

.award-section-one .swiper-button-next::after {
  @apply hidden;
}

.featureTestimonials .swiper-button-next::after {
  @apply hidden;
}

.featureTestimonials .swiper-button-prev::after {
  @apply hidden;
}

.award-section-one .swiper-button-prev::after {
  @apply hidden;
}

.award-section-two .swiper-button-next::after {
  @apply hidden;
}

.award-section-two .swiper-button-prev::after {
  @apply hidden;
}

.award-section-two .swiper-button-prev::after,
.award-section-three .swiper-button-prev::after {
  @apply hidden;
}

.award-section-two .swiper-button-next::after,
.award-section-three .swiper-button-next::after {
  @apply hidden;
}

.swiper-pagination .swiper-pagination-bullet {
  @apply bg-white opacity-100;
}

.swiper-pagination .swiper-pagination-bullet-active {
  @apply bg-simms-gold;
}

/* Home page */

.right-img img {
  @apply bg-cover bg-center w-full object-cover sm:h-[290px] lg:h-[500px];
}

.section_two_img img {
  @apply bg-cover bg-center w-full object-cover object-center h-[450px] md:h-[500px] lg:h-[500px];
}

.section_three_img img {
  @apply bg-cover bg-center w-full object-cover object-center lg:h-[500px];
}

/* Social media icon */
.footer-social-media {
  @apply block bg-white rounded-full h-[38px] w-[38px] leading-[38px] text-center text-xl;
}

/* breadcrumb */
#breadcrumbs {
  @apply flex items-center gap-2 text-white text-sm font-[300] text-left;
}

#breadcrumbs .breadcrumb_last {
  @apply text-simms-gold;
}

#menu-primary-page-nav li {
  @apply bg-simms-gold px-1 lg:bg-transparent;
}

#menu-primary-page-nav li a {
  @apply tracking-[0.01em] uppercase font-[500] text-sm lg:text-lg   lg:hover:text-simms-gold transition-all ease-in-out;
}

#menu-primary-page-nav li.current-menu-item a {
  @apply text-primary-green !important;
}

.facetwp-facet {
  margin-bottom: 0 !important;
}

.facetwp-facet-community_sort .fs-label-wrap {
  @apply h-[50px] flex flex-row items-center justify-between font-[300] text-black;
}

/* User Selections */
.facetwp-selections ul {
  @apply inline-block;
}

.facetwp-selections ul::before {
  content: 'Applied Filters:';

  @apply font-semibold text-[12px] block mb-0.5;
}

.facetwp-selections ul li {
  @apply inline-block;

  margin: 0 10px 5px 0;
}

.facetwp-selections ul li .facetwp-selection-label {
  display: none;
}

.facetwp-selections ul li .facetwp-selection-value {
  background-color: rgb(238 238 238 / 100%);
  padding: 5px 17px 5px 5px;
  font-size: 12px;
  background-position: 14px right;
  border-radius: 3px;
  display: block;
  font-weight: 400;
}

.fs-label-wrap {
  @apply h-[50px] flex flex-row items-center justify-between font-[300] text-black;

  border-color: transparent !important;
}

/* Main Gallery slider */
.f-carousel__thumbs.is-classic {
  margin-bottom: -10px;
}

.scroll-link.active {
  @apply text-simms-gold;
}

.menu-scroll {
  @apply hidden lg:block;
}

.acf-map {
  @apply lg:h-[518px];

  width: 100%;
  height: 517px;
  border: #ccc solid 1px;
}

.acf-map img {
  max-width: inherit !important;
}

.section-img img {
  @apply bg-cover bg-center w-full object-cover object-top h-full xl:h-[450px];
}

.team-photo img {
  @apply bg-cover bg-center w-full object-cover object-center sm:h-[300px];
}

.imag-full-h img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section-image-h img {
  object-fit: cover;
  height: 100%;
}

.sectionfive-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.award_section_two_img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.award-section-three .swiper-pagination-bullet-active {
  @apply bg-simms-gold;
}

.award-section-one .swiper-pagination-bullet {
  @apply bg-secondary-green;
}

.award-section-one .swiper-pagination-bullet-active {
  @apply bg-simms-gold;
}

.fancybox__content {
  padding: 0 !important;
}

.pagination .posts-navigation .nav-links {
  @apply flex flex-row items-center justify-center gap-2;
}

.contact-page-form form {
  @apply w-full;
}

.contact-page-form form section .item label {
  @apply w-full block mb-5;
}

.contact-page-form form section .item label span {
  @apply w-full block;
}

.contact-page-form form section .item label span input {
  @apply w-full border-[1px] border-[#534e50];
}

.contact-page-form form section .item label span select {
  @apply w-full border-[1px] border-[#534e50] py-2;
}

.contact-page-form form section .item label span textarea {
  @apply w-full border-[1px] border-[#534e50] h-[150px];
}

.contact-page-form form section .item p {
  @apply w-full block;
}

.contact-page-form form section .wpcf7-submit {
  @apply uppercase font-[500] border-b-2 border-primary-green text-right;
}

.contact-page-form form section .item-1 {
  @apply flex flex-row items-center w-full gap-3 mb-1;
}

.contact-page-form form section .item-2 {
  @apply flex flex-row items-center w-full gap-3 mb-1;
}

.facetwp-load-more {
  @apply py-2.5 px-7 font-[500] text-sm lg:text-lg border-b-2 border-primary-green border-2 hover:bg-simms-gold hover:border-simms-gold hover:text-black text-primary-green uppercase;
}

.map-area #facetwp-map {
  width: 100% !important;
  min-height: 670px !important;
}

.map-area .gm-style-iw-c {
  padding: 0;
  border-radius: 0;
  border: 0;
}

.map-area .gm-style-iw-d {
  overflow: hidden !important;
  max-height: 352px !important;
}

.ee-section-one img {
  @apply bg-cover h-full;
}

.ee-section-two {
  background-position: center;
}

/* 
.award-section-one .swiper-pagination .swiper-pagination-bullet {
  @apply text-lg  bg-primary-green;
}

.award-section-one .swiper-pagination .swiper-pagination-bullet-active {
  @apply text-lg bg-simms-gold;
} */

/* .testimonial-swiper-two .swiper-button-next::after {
  @apply text-secondary-green;
} */

.testimonial-swiper-two .swiper-button-next {
  @apply top-[90%] lg:top-[50%];
}

.testimonial-swiper-two .swiper-button-prev {
  @apply top-[90%] lg:top-[50%];
}

.testimonial-swiper-two .swiper-pagination-bullets {
  @apply lg:bottom-[0];
}

.testimonial-swiper-three .swiper-button-next {
  @apply top-[90%] lg:top-[50%];
}

.testimonial-swiper-three .swiper-button-prev {
  @apply top-[90%] lg:top-[50%];
}

.menu-interior-search-page-menu-container .current-menu-item a {
  @apply text-secondary-green;
}

.home-testimonial_img img {
  @apply lg:w-full lg:h-full xl:h-full xl:w-full object-cover;
}

.about-sec-two img {
  @apply bg-cover bg-center w-full object-cover object-center lg:h-full lg:w-full;
}

.ee-sec-two img {
  @apply bg-cover bg-center w-full object-cover object-center lg:h-full lg:w-full;
}

.self-guided a {
  @apply text-simms-gold border-b-[2px] border-simms-gold hover:text-white hover:border-white !important;
}

.custom-logo-link img {
  @apply w-[207px] h-[65px];
}

.desktop-filter .facetwp-facet-_categories {
  @apply flex flex-row justify-center items-center gap-5;
}

.desktop-filter .facetwp-facet-_categories .facetwp-radio {
  @apply text-white font-agenda font-[500] text-lg uppercase;
}

[data-type='radio'] .facetwp-counter {
  display: none;
}

.header-banner-img img {
  object-position: top center;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer-logo a {
  display: block;
}

.primary-search-page li a {
  @apply text-lg lg:text-2xl font-[500] hover:text-simms-gold;
}

.primary-search-page li.current-menu-item a {
  @apply text-simms-gold;
}
